# Server Configuration
PORT=5002
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/transportation_system

# CORS Configuration
FRONTEND_URL=http://localhost:5173

# JWT Configuration
JWT_TOKEN=your_jwt_secret_here

# admin email (the one who will send the trip notifications updates)
ADMIN_USER = example@adityabirla.com
ADMIN_PASS = example

# transport head email (the one who will receive the new trip notifications)
TRANSPORT_HEAD_EMAIL = transport_head@adityabirla.com

# Twilio Configuration (if using SMS)
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number 